---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Global from '../styles/Global.scss';
import Preview from '../components/Preview.astro';
import About from '../components/About.astro';
import Packages from '../components/Packages.astro'
---

<Layout title="Welcome to Astro.">
	<Header></Header>
	<main>
		<Preview></Preview>
		<About></About>
		<Packages></Packages>
	</main>
</Layout>

<style>
	body{
		background-color: white;
	}
	main{
		background-color: white;
	}

</style>