---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Global from '../styles/Global.scss';
import Preview from '../components/Preview.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import Packages from '../components/Packages.astro'

import LoadingScreen from '../components/LoadingScreen.jsx';  // Path to your React component
import { getAssets } from '../utilities/loadingAssets';

const assets = await getAssets("preview");

---

<Layout title="Vis Amary Photography">
	<LoadingScreen assets={assets}></LoadingScreen>
	<Header></Header>
	<main>
		<Preview></Preview>
		<About></About>
		<section id="packages">
			<Packages></Packages>
		</section>
	</main>
	<Footer></Footer>
</Layout>

<style>

	html {
		scroll-behavior: smooth;
	}
	body{
		background-color: white;
		opacity: 0; /* Start invisible */
		transition: opacity 2s ease-in-out; /* Transition for smooth fade-in */
	}

	body.loaded {
    opacity: 1; /* Fully visible when loaded */
}

	main{
		background-color: white;
	}

</style>

<script>

	window.addEventListener('load', () => {

    document.body.classList.add('loaded');
	document.querySelector('.loading-screen')["style"].display = 'none';
});
    </script>
