<section>
    <div>
        <h4>Meet Suzanna</h4>
        <p>
            My greatest joy comes from capturing the raw, authentic stories of the people I work with. I believe that every photograph should do more than simply freeze a moment—it should tell a story, 
            evoke emotion, and capture the essence of who you are.
        </p>
        <a>Read More</a>
    </div>
</section>

<style>
    section{
        background-image: url('./AU5A4923.jpg');
        background-position-y: 30%;
        padding: 50px 0;
        background-size: cover;
        height: 600px;
        background-repeat: no-repeat;
    }

    section div{
        background-color: white;
        width:400px;
        padding: 20px;
        font-family: Joan, sans-serif;
        margin-left: 70%;
        margin-top: 160px;
    }

    section div h4{
        text-align: center;
        text-transform: uppercase;
    }

    section p{
        color: rgb(15, 15, 15);
        width:90%;
        margin: auto;
        text-align: center;
    }

    section div a{
        background-color: black;
        color:white;
        padding: 20px 50px;
        display: block;
        margin: 2em auto;
        text-align: center;
        width: 100px;
    }

    section div a:hover{
        background-color: white;
        border: 2px solid black;
        color:black;
    }
</style>