<section>
    <div>
        <h4>Meet Suzanna</h4>
        <p>
            Creative artist specializing in powerful, emotive portraits.
        </p>
        <a href="/about">Read More</a>
    </div>
</section>

<style>

    a{
        background-color: #91A6B8;
    }

/*DESKTOP*/
@media screen and (min-width:1350px){
    section{
        background-image: url('/about-min.jpg');
        background-position-y: 90%;
        padding: 50px 0;
        background-size: cover;
        height: 500px;
        width:100%;
        margin: auto;
        background-repeat: no-repeat;
    }

    section div{
        background-color: #E4EBF8;
        width:400px;
        position: relative;
        top:5%;
        left:65%;
        padding: 20px;
        font-family: Joan, sans-serif;
        margin-top: 160px;
    }

    section div h4{
        text-align: center;
        color: rgba(15, 15, 15, 0.904);
        text-transform: uppercase;
    }

    section p{
        color: rgba(15, 15, 15, 0.904);
        width:90%;
        margin: auto;
        text-align: center;
    }

    section div a{
        color:rgb(49, 49, 49);
        padding: 20px 50px;
        display: block;
        font-size: 1.2em;
        margin: 2em auto;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s;
        width: 100px;
    }

    section div a:hover{
        background-color: white;
        border: 2px solid black;
        color:black;
    }

}

/*LAPTOP*/
@media screen and (max-width:1349px) and (min-width:1200px){
    section{
        background-image: url('/about-min.jpg');
        background-position-y: 30%;
        background-position-x: 90%;
        padding: 50px 0;
        background-size: cover;
        width:100%;
        height: 400px;
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    section div{
        background-color: white;
        width:400px;
        position: relative;
        top:25%;
        left:60%;
        padding: 20px;
        font-family: Joan, sans-serif;
    }

    section div h4{
        text-align: center;
        color: rgba(15, 15, 15, 0.904);
        text-transform: uppercase;
    }

    section p{
        color: rgba(15, 15, 15, 0.904);
        width:90%;
        margin: auto;
        text-align: center;
    }

    section div a{
        background-color: #91A6B8;
        border: 2px solid black;
        color:rgb(36, 36, 36);
        padding: 20px 50px;
        display: block;
        margin: 2em auto;
        text-align: center;
        transition: all 0.5s;
        width: 100px;
    }

    section div a:hover{
        background-color: white;
        border: 2px solid black;
        color:black;
    }

}

/*TABLET*/
@media screen and (max-width:1199px) and (min-width:901px){
    section{
        background-image: url('/about-min.jpg');
        background-position-y: 30%;
        background-position-x: 90%;
        padding: 50px 0;
        background-size: cover;
        width:100%;
        height: 500px;
        margin: auto;
        background-repeat: no-repeat;
    }

    section div{
        background-color: #E4EBF8;
        width:340px;
        position: relative;
        top:20%;
        left: 55%;
        padding: 20px;
        font-family: Joan, sans-serif;
    }

    section div h4{
        text-align: center;
        text-transform: uppercase;
    }

    section p{
        color: rgb(15, 15, 15);
        width:90%;
        margin: auto;
        text-align: center;
    }

    section div a{
        background-color: #91A6B8;
        color:black;
        padding: 20px 50px;
        display: block;
        margin: 2em auto;
        text-align: center;
        transition: all 0.5s;
        width: 100px;
    }

    section div a:hover{
        background-color: white;
        border: 2px solid black;
        color:black;
    }
}
/*PHONE */
@media screen and (max-width:900px) and (min-width:300px){
    section{
        background-image: url('/about-min.jpg');
        padding: 10px 0;
        background-size: cover;
        width:100%;
        margin: auto;
        background-repeat: no-repeat;
    }

    section div{
        background-color: #E4EBF8;
        padding: 20px;
        margin: 0.2em 1em;
        font-family: Joan, sans-serif;
    }

    section div h4{
        text-align: center;
        text-transform: uppercase;
    }

    section p{
        color: rgb(15, 15, 15);
        width:90%;
        margin: auto;
        text-align: center;
    }

    section div a{
        background-color: #91A6B8;
        color:rgb(37, 37, 37);
        padding: 20px 50px;
        display: block;
        margin: 2em auto;
        text-align: center;
        transition: all 0.5s;
        width: 100px;
    }

    section div a:hover{
        background-color: white;
        border: 2px solid black;
        color:black;
    }
}
</style>