---

import Global from '../styles/Global.scss';

---

<footer>
    <section id="separation-line"></section>
    <section id="social-media-container">
        <h3>Follow me on social media</h3>
        <div>
            <a href="https://www.instagram.com/vis_amari?igsh=emU2a3R0ZTVpM3Fn"><i class="fa-brands  fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/share/JyXCNtLsGomoFZRx/?mibextid=LQQJ4d"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </section>
    <p>Copyright 2024 | All rights reserved</p>
</footer>

<style>

    footer{
        padding: 0 0 2em 0;
    }

    #separation-line{
        width: 200px;
        border-bottom:2px solid rgb(19, 19, 19);
        margin: 2em auto;
        height: 12px;
    }


    #social-media-container h3{
        font-family: Joan;
        font-weight: 300;
        margin: 2em auto;
        text-transform: uppercase;
        text-align: center;
    }

    #social-media-container div{
        width:90px;
        display: flex;
        gap:20px;
        margin: auto;
    }

 #social-media-container div i{
    font-size: 2em;
    transition: all 2s;
    cursor: pointer;
    color: black;
 }

 #social-media-container div i:hover{
    transform: scale(1.1);
 }

 p{
    font-family: Joan;
    margin: 4em 0 2em;
    text-align: center;
 }


 @media screen and (max-width:500px){
    
    #social-media-container h3{
        font-family: Joan;
        font-weight: 300;
        font-size: 0.9em;
        margin: 2em auto;
        text-transform: uppercase;
        text-align: center;
    }

 }
</style>