

<header>
    <section id="header_container">
      <div id="identity_container">
        <p id="Site_name">VIS AMARI PHOTOGRAPHY</p>
        <p>Suzanna Mamatkulava</p>
      </div>
        <nav>
                <ul id="general_menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <a href="#">Portfolio <i class="fas fa-chevron-down" id="dropdown_icon"></i></a>
                        <ul class="dropdown">
                            <li><a href="/portfolio/motherhood">Motherhood</a></li>
                            <li><a href="/portfolio/lovestory">Lovestory</a></li>
                            <li><a href="/portfolio/portraits">Portraits</a></li>
                            <li><a href="/portfolio/creative">Creative</a></li>
                        </ul>
                    <li>
                        <a href="#ackages">Packages</a>
            
                    </li>
                    <li>
                        <a href="/contacts">Contacts</a>
            
                    </li>
                </ul>
               
        </nav>
            <!--For mobile view only -->
        <div id="mobile-menu-container">
                <img src="./public/hamburgerBtn.png" alt="menu Button" id="hamburgerBtn">
        </div>

        <div id="mobile-menu-nav" class="mobile-menu-nav-not-active">
            <ul>
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>About</a>
                </li>
                <a href="#">Portfolio <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-mobile">
                        <li><a href="/portfolio/motherhood">Motherhood</a></li>
                        <li><a href="/portfolio/lovestory">Lovestory</a></li>
                        <li><a href="/portfolio/portraits">Portraits</a></li>
                        <li><a href="/portfolio/creative">Creative</a></li>
                    </ul>
                <li>
                    <a>Packages</a>
        
                </li>
                <li>
                    <a>Contacts</a>
        
                </li>
            </ul>

        <div>
    </section>
    
</header>


<style>
    header{
        background-color: white;
        font-family: Joan;
        padding:0;
        margin: 0;
        border:0;
        text-transform: uppercase;
    }

    #identity_container{
        text-align: center;
        margin-top: 2em;
    }

    #Site_name{
        font-size: 24px;
        margin: 0;
        margin-top: 20px;
        padding: 0;
    }

    #identity_container:last-child{
        margin: 0;
        padding: 0;
    }

    #general_menu{
        display: flex;
        margin: 3em auto;
        width:930px;
        text-align: center;
        justify-content: center;
        gap:100px;
    }

    header nav li {
        list-style-type: none;
        font-family: Joan;
        cursor: pointer;
    }

    header nav  a{
        color: black;
        border-bottom:2px solid rgb(255, 255, 255);
        text-decoration: none;
    }

    header nav li a:hover{
        border-bottom:2px solid black;
    }

    #mobile-menu-nav{
        display: none;
    }

    #mobile-menu-container{
        display: none;
    }



    /**PORTFOLIO DROW DOWN */
 
  /* Styling for the dropdown menu */
  .dropdown {
    display: none; 
    position: absolute; 
    background-color: white; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    z-index: 1;
    padding: 10px; 
    border:2px solid red;
    opacity: 0;
  }

  .dropdown-mobile{
    display: none;
  }

  

</style>

<script>

    const dropDownMenuIcon = document.querySelector("#dropdown_icon");
    const dropdownMenu = document.querySelector(".dropdown");

    dropDownMenuIcon.addEventListener('click', (showSubMenu))

    function showSubMenu(){
        event.preventDefault(); // Prevent the default link behavior

  // Toggle the display property
  if (dropdownMenu.style.display === "block") {
    dropdownMenu.style.display = "none"; // Hide the menu
  } else {
    dropdownMenu.style.display = "block"; // Show the menu
  }    }
</script>