

<header>
    <section id="header_container">
      <div id="identity_container">
        <p id="Site_name">VIS AMARI PHOTOGRAPHY</p>
        <p id="Site_name_secondary">Suzanna Mamatkulava</p>
      </div>
        <nav>
                <ul id="general_menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="#" id="portfolio_link">Portfolio <i class="fas fa-chevron-down" id="dropdown_icon"></i></a>
                        <ul class="dropdown">
                            <li><a href="/portfolio/motherhood">Motherhood</a></li>
                            <li><a href="/portfolio/lovestory">Lovestory</a></li>
                            <li><a href="/portfolio/portraits">Portraits</a></li>
                            <li><a href="/portfolio/creative">Creative</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="/#packages">Packages</a>
            
                    </li>
                    <li>
                        <a href="/contacts">Contacts</a>
            
                    </li>
                </ul>
               
        </nav>
            <!--For mobile view only -->
            <div id="mobile-menu-container">
                <h1>...</h1>
            </div>
            
            <div id="mobile-menu-nav" class="mobile-menu-nav-not-active">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>

                    <li id="portfolio_link_mob">
                        <a href="#">Portfolio <i class="fas fa-chevron-down dropdown-icon"></i></a>
                        <ul class="dropdown-mobile">
                            <li><a href="/portfolio/motherhood">Motherhood</a></li>
                            <li><a href="/portfolio/lovestory">Lovestory</a></li>
                            <li><a href="/portfolio/portraits">Portraits</a></li>
                            <li><a href="/portfolio/creative">Creative</a></li>
                        </ul>
                    </li>

                    <li><a href="/#packages">Packages</a></li>
                    <li><a href="/contacts">Contacts</a></li>
                </ul>
            </div>
    </section>
    
</header>


<style>


/*DESKTOP*/
    @media screen and (min-width:1400px){
        

    header{
        background-color: white;
        font-family: Joan;
        padding:10px;
        margin: 0!important;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.224);
        border:0;
        position: fixed;
        width: 100%;
        top:0;
        z-index: 999;
        text-transform: uppercase;
        transition: 0.5s all;
    }

    #identity_container{
        text-align: center;
        margin-top: 2em;
    }

    #Site_name{
        font-size: 34px;
        margin: 0;
        margin-top: 20px;
        padding: 0;
    }

    #Site_name_secondary{
        margin-top: 20px;
        font-size: 18px;
        padding: 0;
    }

    #general_menu{
        display: flex;
        margin: 2em auto;
        max-width:1000px;
        width:100%;
        text-align: center;
        justify-content: center;
        gap:60px;
        font-size: 1.5em;
    }

    #header_container nav{
        padding: 0;
    }

    header nav li {
        list-style-type: none;
        font-family: Joan;
        cursor: pointer;
    }

    header nav  a{
        color: black;
        border-bottom:2px solid rgb(255, 255, 255);
        text-decoration: none;
    }

    header nav li a:hover{
        border-bottom:2px solid black;
    }

    .notactive_link{
        border-bottom:2px solid rgb(255, 255, 255);
    }

    .active_link{
        border-bottom:2px solid black;
    }

    #mobile-menu-nav{
        display: none;
    }

    #mobile-menu-container{
        display: none;
    }

    /**PORTFOLIO DROW DOWN */
    .dropdown {
    position: absolute; /* Positioning the dropdown */
    background-color: white; /* Background color */
    box-shadow: 1px 1px 10px rgba(46, 45, 45, 0.116);
    z-index: 1000; /* Ensure it's above other elements */
    display: block; /* Keep it hidden initially */
    margin-top: 20px;
    padding: 10px 25px 0 10px;
    opacity: 0;
    transition: 0.9s all ease-in-out;
    border-radius: 5px;
}

.dropdown-icon{
    margin-bottom: 15px;
}

.dropdown a{
    transition: 1s all;
    margin-right: 40px!important;

}

#general_menu li {
    position: relative; /* Required for the dropdown positioning */
    margin: 20px 0;
    text-align: left;

}

#general_menu li a {
    padding: 10px; /* Padding for the links */
    margin: 20px 0;
    text-align: left;
    text-decoration: none; /* Remove underline */
}

#general_menu li:hover .dropdown {
    display: block; /* Show dropdown on hover */
}

.dropdown-mobile{
    display: none;
}


}
/*LAPTOP*/
@media screen and (max-width:1399px) and (min-width:900px){
    
    header{
        background-color: white;
        font-family: Joan;
        padding:10px 0;
        margin: 0!important;
        border:0;
        position: fixed;
        width: 100%;
        top:0;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.224);
        z-index: 999;
        text-transform: uppercase;
        transition: 0.5s all;
    }

    #identity_container{
        text-align: center;
        margin-top: 0.6em;
    }

    #Site_name{
        font-size: 20px;
        margin: 0;
        margin-top: 20px;
        padding: 0;
    }

    #Site_name_secondary{
        margin: 0;
        font-size: 12px;
        padding: 0;
        line-height: 1.5;
    }

    #general_menu{
        display: flex;
        margin: 1em auto;
        text-align: center;
        justify-content: center;
        gap:20px;
        font-size: 0.8em;
    }

    header nav{
        width:70%;
        margin: auto;
    }

    header nav ul{
        padding: 0 0 0 15px ;
    }
    header nav li {
        list-style-type: none;
        font-family: Joan;
        cursor: pointer;

    }

    header nav  a{
        color: black;
        border-bottom:2px solid rgb(255, 255, 255);
        transition: 1s all;
        text-decoration: none;
    }

    header nav li a:hover{
        border-bottom:2px solid black;
    }

    .notactive_link{
        border-bottom:2px solid rgb(255, 255, 255);
    }

    .active_link{
        border-bottom:2px solid black;
    }

    #mobile-menu-nav{
        display: none!important;
    }

    #mobile-menu-container{
        display: none;
    }

    /**PORTFOLIO DROW DOWN */
    .dropdown {
    position: absolute; /* Positioning the dropdown */
    background-color: white; /* Background color */
    box-shadow: 1px 1px 10px rgba(46, 45, 45, 0.116);
    z-index: 1000; /* Ensure it's above other elements */
    display: block; /* Keep it hidden initially */
    margin-top: 20px;
    padding: 10px 40px 0 10px;
    opacity: 0;
    transition: 0.9s all ease-in-out;
    border-radius: 5px;
}

.dropdown-mobile{
    display: none;
}

.dropdown a{
    transition: 1s all;
    margin-right: 40px!important;
}

#general_menu li {
    position: relative; /* Required for the dropdown positioning */
    margin: 20px 0;
    text-align: left;

}

#general_menu li a {
    padding: 10px; /* Padding for the links */
    margin: 20px 0;
    text-align: left;
    text-decoration: none; /* Remove underline */
}

#general_menu li:hover .dropdown {
    display: block; /* Show dropdown on hover */
}
}
/*TABLET*/
@media screen and (max-width:899px) and (min-width:801px){
    
    header{
        background-color: white;
        font-family: Joan;
        padding:10px 0;
        margin: 0!important;
        border:0;
        position: fixed;
        width: 100%;
        top:0;
        z-index: 999;
        text-transform: uppercase;
        transition: 0.5s all;

    }

    #identity_container{
        text-align: center;
        margin-top: 2em;
    }

    #Site_name{
        font-size: 24px;
        margin: 0;
        margin-top: 20px;
        padding: 0;
    }

    #identity_container:last-child{
        margin: 0;
        padding: 0;
    }

    #general_menu{
        display: flex;
        margin: 3em auto;
        max-width:800px;
        width:100%;
        text-align: center;
        justify-content: center;
    }

    header nav  ul{
        padding: 0;
        width: 99%;
        margin: auto;
    }

    header nav li {
        list-style-type: none;
        font-family: Joan;
        cursor: pointer;
    }

    header nav  a{
        color: black;
        font-size: 0.9em!important;
        border-bottom:2px solid rgb(255, 255, 255);
        text-decoration: none;
    }

    header nav li a:hover{
        border-bottom:2px solid black;
    }

    #mobile-menu-nav{
        display: none;
    }

    #mobile-menu-container{
        display: none;
    }

      /**PORTFOLIO DROW DOWN */
      .dropdown {
    position: absolute; /* Positioning the dropdown */
    background-color: white; /* Background color */
    box-shadow: 1px 1px 10px rgba(46, 45, 45, 0.116);
    z-index: 1000; /* Ensure it's above other elements */
    display: block; /* Keep it hidden initially */
    margin-top: 20px;
    padding: 10px 25px 0 10px;
    opacity: 0;
    transition: 0.9s all ease-in-out;
    border-radius: 5px;
}

.dropdown a{
    transition: 1s all;
}

#general_menu li {
    position: relative; /* Required for the dropdown positioning */
    margin: 20px 0;
    text-align: left;

}

#general_menu li a {
    padding: 10px; /* Padding for the links */
    margin: 20px 0;
    text-align: left;
    text-decoration: none; /* Remove underline */
}

#general_menu li:hover .dropdown {
    display: block; /* Show dropdown on hover */
}
}

/*PHONE*/
    @media screen and (min-width:300px) and (max-width:800px){
     
    header{
        background-color: white;
        font-family: Joan;
        border:0;
        position: fixed;
        width: 100%;
        transition: 0.5s all;
        top:0;
        z-index: 999;
        margin: 0 auto;
        text-transform: uppercase;
    }

    #header_container{
        display: flex;
        padding: 20px 0;
        width:90%;
        margin: auto;
        height: 50px;
        justify-content: space-between;
        align-items: flex-end;

    }

    #identity_container{
        text-align: left;
    }

    #identity_container p {
        font-size: 10px;
        line-height: 0.6;
    }

    #Site_name{
        margin: 0;
        margin-top: 10px;
        padding: 0;
        font-size: 1em!important;
    }

    #identity_container:last-child{
        margin: 0;
        padding: 0;
    }

    #general_menu{
        display: none;
    }


    #mobile-menu-nav{
        display: none;
        opacity: 0;
        top:100%;
        width:100%;
        left:0;
        background-color: white;
        position: absolute;
        transition: 0.6s opasity;
        margin: 0 auto;
        padding: 20px 0;
        height: 90vh;
    }

    #mobile-menu-nav ul {
        padding: 20px 0;

    }

    #mobile-menu-nav ul li{
        list-style-type: none;
        text-align: center;
        font-size: 1.2em;
        margin: 1.6em 0;
    }

    #mobile-menu-nav ul li a{
        color: black;
        transition: 2s all;
        text-decoration: none;
    }


    #mobile-menu-container{
        display: block;
        text-align: center;
        cursor: pointer;
    }

    #mobile-menu-container h1{
        font-weight: 300;
        margin-top: 3em;
        font-size: 1.2em;
    }

    /**PORTFOLIO DROW DOWN */
    .dropdown-mobile {
        display: none;
        font-size: 0.8em;
        padding: 5px!important;
    }
    .dropdown-mobile a{
        font-size: 0.7em;
        line-height: 1;
        margin: 0!important;
    }
    .dropdown a{
        transition: 1s all;
    }


    }

</style>

<script>

/**HANDLE HEADER SCROLLING */

// Get the first <header> element
let header = document.querySelector("header");
let scrollTimeout = null;
let isHovering = false;

header.addEventListener("mouseenter", () => {
    header["style"].opacity = "1";  // Show header if scroll is less than 200px
    isHovering = true;
});

header.addEventListener("mouseleave", () => {
    isHovering = false;
});

// Set the initial state of the header (hide it if scrolled beyond 200px)
if (window.scrollY < 200) {
    header.style.display = 'block';  // Show header if scroll is less than 200px
    header["style"].opacity = "1";  // Show header if scroll is less than 200px

} 



// Add a scroll event listener to update header visibility as the user scrolls
window.onscroll = function() {

    clearTimeout(scrollTimeout);
    //header.style.display = 'block';
    header["style"].opacity = "1";  

    setTimeout(() => {
        if(scrollY > 200 && isHovering == false && window.innerWidth > 800) {
            header["style"].opacity = "0";
        }
       
    }, 2000)
}



/*DESKTOP*/
const dropDownMenuIcon = document.querySelector("#dropdown_icon");
const dropdownMenu = document.querySelector(".dropdown");
const portfolioLink = dropDownMenuIcon.closest('li'); // Get the parent <li>



portfolioLink.addEventListener('mouseenter', showSubMenu);
portfolioLink.addEventListener('mouseleave', hideSubMenu);

function showSubMenu() {
    //dropdownMenu.style.display = "block"; // Show the menu
    dropdownMenu["style"].opacity = "1"; // Show the menu
    dropdownMenuMobile["style"].opacity = "1"
}

function hideSubMenu() {
    //dropdownMenu.style.display = "none"; // Hide the menu
    dropdownMenu["style"].opacity = "0"; // Show the menu
    //dropdownMenuMobile["style"].opacity = "1"

}

document.addEventListener('DOMContentLoaded', function() {
    // Get all links in the menu
    const menuLinks = document.querySelectorAll("#general_menu a");

    // Loop over each link
    menuLinks.forEach((link) => {
        // Add a click event listener for each link
        link.addEventListener('click', (e) => {

            // Remove 'active_link' class from all links first
            menuLinks.forEach((otherLink) => {
                otherLink.classList.remove("active_link");
            });

            // Add 'active_link' to the clicked link
            link.classList.add("active_link");

            // Optional: If you're using hrefs for navigation and want to continue navigation, uncomment this line
            // window.location.href = link.href;
        });
    });
});


/*MOBILE*/
// Get references to the DOM elements
const menuBtn = document.getElementById('mobile-menu-container');
const menuBtnText = document.querySelector('#mobile-menu-container h1');
const dropdownMenuMobile = document.querySelector(".dropdown-mobile");
const mobileMenuNav = document.querySelector("#mobile-menu-nav");
const portfolioLinkMob = document.querySelector("#portfolio_link_mob");

// Toggle mobile menu visibility
menuBtn.addEventListener('click', () => {
    // Check if the mobile menu is currently displayed
    if (mobileMenuNav["style"].display == "block") {
        // If the menu is visible, hide it
        menuBtnText["style"].color = "black";
        mobileMenuNav["style"].display = "none";
        mobileMenuNav["style"].opacity = "0";
        menuBtnText.textContent = "...";
        dropdownMenuMobile["style"].display = "none";
        dropdownMenuMobile["style"].opacity = "0";
    } else {
        // If the menu is hidden, show it
        menuBtnText.textContent = "X";
        menuBtnText["style"].color = "maroon";
        mobileMenuNav["style"].display = "block";
        mobileMenuNav["style"].opacity = "1";
    }
});

// Handle interaction with the dropdown menu
const handleMobInteraction = (e) => {


    // Check if the dropdown is currently visible
    if (dropdownMenuMobile["style"].display === "block") {
        // Hide the dropdown
        dropdownMenuMobile["style"].display = "none";
        dropdownMenuMobile["style"].opacity = "0";
    } else {
        // Show the dropdown
        dropdownMenuMobile["style"].display = "block";
        dropdownMenuMobile["style"].opacity = "1";
    }
};

// Add event listener to the portfolio link
portfolioLinkMob.addEventListener('click', handleMobInteraction);

// Close the menu when a link is clicked
mobileMenuNav.querySelectorAll('a').forEach(link => {
    link.addEventListener('click', () => {
        mobileMenuNav.classList.remove('mobile-menu-nav-active'); // Close menu
    });
});
</script>