---
import { getAssets } from '../utilities/loadingAssets'

const images =  await getAssets("packages");
---

<section>
    <h3>Packages</h3>

    </div>
    <div id="packages_container">
        <a  href="/portfolio/creative">
            <div class = "single_package">
                <img src=`./packages/creative-min.jpg` loading="eager">
                <div class="price_container">
                    <h5>Creative</h5>
                    <p class="price_hidden">starts at $400</p>
                </div>
            </div>
        </a>
        <a href="/portfolio/lovestory">
            <div class = "single_package">
                <img src="./packages/lovestory-min.jpg" loading="eager" >
                <div class="price_container">
                    <h5>LOVE STORY</h5>
                    <p class="price_hidden">starts at $350</p>
                </div>
            </div>
        </a>
        <a href="/portfolio/motherhood">
            <div class = "single_package" >
                <img src="./packages/maternity-min.jpg" loading="eager">
                <div class="price_container">
                    <h5>MOTHERHOOD</h5>
                    <p class="price_hidden">starts at $400</p>
                </div>
            </div>
        
        </a>
        <a  href="/portfolio/portraits">
            <div class = "single_package" >
                <img src="./packages/portrait-min.jpg" loading="eager">
                <div class="price_container">
                    <h5>PORTRAIT</h5>
                    <p class="price_hidden">starts at $350</p>
                </div>
            </div>
          
        </a>
    </div>
   
</section>

<style>

#packages_container a{
    text-decoration: none;
}

/*DESTOP*/
@media screen and (min-width:1300px){

    section{
        margin-top: 10em;
        width:90%;
        font-family: Joan, sans-serif;
        text-transform: uppercase;
        margin: 5em auto;
        max-width: 1700px;
    }
    section h3{
        font-size: 25px;
        font-weight: 400;
        font-family: Joan, sans-serif;
        text-transform: uppercase;
    }
    #packages_container{
        display: flex;
        align-self: center;
        gap:40px;
    }



    section div img{
        width:100%;
        height:555px;
        object-fit:cover;
        filter: brightness(0.55);
        transition: filter 0.3s ease-out; 
    }

    #packages_container h5{
        font-size: 2em;
        text-align: center;
        font-weight: 400;
        margin: 0;
    }

    #packages_container p{
        text-align: center;
    }

    .price_container{
        position: relative;
        color: white;
        top:-120px;
        transition: all 0.4s ease-out;
    }

    .price_hidden{
        opacity: 0;
        transition: 1s all;
    }

    .price_active{
        opacity: 1;
        transition: 1s all;

    }

    .gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
        opacity: 0;
        transition: opacity 0.3s  ease-in-out; /* Smooth transition for overlay */
    }

    .hovered .gradient-overlay {
        opacity: 1; /* Show gradient on hover */
    }
}
/*LAPTOP */
@media screen and (min-width:1001px) and (max-width:1299px){
    section{
        margin-top: 10em;
        width:90%;
        font-family: Joan, sans-serif;
        text-transform: uppercase;
        margin: 5em auto;
        max-width: 1700px;
    }
    section h3{
        font-size: 25px;
        font-weight: 400;
        line-height: 2;
        text-align: center;
        font-family: Joan, sans-serif;
        text-transform: uppercase;
    }
    #packages_container{
        display: flex;
        align-self: center;
        justify-content: center;
        margin: auto;
        gap:40px;
    }
    section a img{
        width:100%;
        height:355px;
        object-fit:cover;
        filter: brightness(0.55);
        transition: filter 0.3s ease-out; 
    }

    #packages_container h5{
        font-size: 1.5em;
        text-align: center;
        font-weight: 400;
        margin: 0;
    }

    #packages_container p{
        text-align: center;
    }

    .price_container{
        position: relative;
        color: white;
        top:-120px;
        transition: all 0.4s ease-out;
    }

    .price_hidden{
        opacity: 0;
        transition: 1s all;
    }

    .price_active{
        opacity: 1;
        transition: 1s all;

    }
    .gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
        opacity: 0;
        transition: opacity 0.3s  ease-in-out; /* Smooth transition for overlay */
    }

    .hovered .gradient-overlay {
        opacity: 1; /* Show gradient on hover */
    }
}

/*TABLET*/
@media screen and (min-width:701px) and (max-width:1000px){

section{
    margin-top: 10em;
    display: grid;
    width:90%;
    font-family: Joan, sans-serif;
    text-transform: uppercase;
    margin: 2em auto;
    max-width: 1700px;

}
section h3{
    font-size: 25px;
    text-align: center;
    margin: 4em 0;
    font-weight: 400;
    font-family: Joan, sans-serif;
    text-transform: uppercase;
}
#packages_container{

    display: grid;
    margin: 0 auto;
    gap: 0 10%;
    grid-template-columns: 45% 45%;

}

section div img{
    width:100%;
    height:555px;
    margin: 0;
    object-fit:cover;
    filter: brightness(0.55);
    transition: filter 0.3s ease-out; 
}

#packages_container h5{
    font-size: 2em;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

#packages_container p{
    text-align: center;
}

.price_container{
    position: relative;
    color: white;
    top:-120px;
    transition: all 0.4s ease-out;
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    opacity: 0;
    transition: opacity 0.3s  ease-in-out; /* Smooth transition for overlay */
}

.hovered .gradient-overlay {
    opacity: 1; /* Show gradient on hover */
}
}
/*MOBILE*/
@media screen and (max-width:700px) and (min-width:300px){
    
    section{
        margin-top: 10em;
        font-family: Joan, sans-serif;
        text-transform: uppercase;
        margin: 5em auto 1em; 
        width: 100%;
    }
    section h3{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        font-family: Joan, sans-serif;
        text-transform: uppercase;
    }
    #packages_container{
        display: block;
        padding: 0;
        align-self: center;        
    }

    .single_package{
        height: 480px;
        padding: 0;
    }

    section div img{
        width:100%;
        max-width: 300px;
        margin: 0 auto;
        height:450px;
        display: block;
        object-fit:cover;
        filter: brightness(0.55);
        transition: filter 0.3s ease-out; 
    }

    #packages_container h5{
        font-size: 2em;
        text-align: center;
        font-weight: 400;
        margin: 0;
    }

    #packages_container p{
        text-align: center;
    }

    .price_container{
        position: relative;
        color: white;
        top:-120px;
        transition: all 0.4s ease-out;
    }
    .gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
        opacity: 0;
        transition: opacity 0.3s  ease-in-out; /* Smooth transition for overlay */
    }

    .hovered .gradient-overlay {
        opacity: 1; /* Show gradient on hover */
    }
}

</style>

<script>

const priceContainers = document.querySelectorAll('.price_container');

  document.querySelectorAll('#packages_container div').forEach(container => {
        const gradient = document.createElement('div');
        gradient.classList.add('gradient-overlay');
        container.appendChild(gradient);

        container.addEventListener('mouseenter', () => {
            container.querySelector('img').style.filter = 'brightness(0.1)';
            container.querySelector('.price_container')["style"].top = '-300px';
            container.querySelector('.price_hidden').classList.add('price_active');
            container.querySelector('.price_active').classList.remove('price_hidden');
            gradient.classList.add('hovered');
        });

        container.addEventListener('mouseleave', () => {
            container.querySelector('img').style.filter = 'brightness(0.70)';
            container.querySelector('.price_container')["style"].top = '-120px';
            container.querySelector('.price_active').classList.add('price_hidden');
            container.querySelector('.price_hidden').classList.remove('price_active');
            gradient.classList.remove('hovered');
        });
    });

</script>