---
import fs from 'node:fs/promises';

const kek = [
  {
    class: "carousel-slide",
    src: "/preview/1.webp",
    alt: "Image 1",
  },
  {
    class: "carousel-slide",
    src: "/preview/2.webp",
    alt: "Image 2",
  },
  {
    class: "carousel-slide",
    src: "/preview/3.webp",
    alt: "Image 3",
  },
  {
    class: "carousel-slide",
    src: "/preview/4.webp",
    alt: "Image 4",
  },
  {
    class: "carousel-slide",
    src: "/preview/5.webp",
    alt: "Image 5",
  },
  {
    class: "carousel-slide",
    src: "/preview/6.webp",
    alt: "Image 6",
  },
  {
    class: "carousel-slide",
    src: "/preview/7.webp",
    alt: "Image 7",
  }
];

const folderPath = `./public/preview`;

// Read the directory and filter out only image files
const files = await fs.readdir(folderPath);
const images = files.filter(file =>
  /\.(jpg|jpeg|png|gif|webp)$/i.test(file) // Ensure only image files are included
);

---

<ul id="carouselTargetList">
  {
    images.map((img, index) => {
      return (
        <li class="list_holder">
            <a>
            <img src={`/preview/${img}`} alt={img} class={img.class} loading="eager"/>
          </a>
        </li>
      );
    })
  }
</ul>

  <style>
      /**DESKTOP */
      @media screen and (min-width:1400px) {
        #carouselTargetList {
        display: flex;
        overflow-x: hidden;
        gap: 20px;
        width:95%;
        margin: auto;
        margin-top: 19em;
        padding: 20px 0;
      }

      .list_holder {
          list-style-type: none;
      }

      .carousel-slide {
        flex: 0 0 auto;
        width: 300px;  /* Adjust to the size you want */
        height: auto;
      }

      .carousel-slide img {
        width: 200px;
        height: auto;
        object-fit: cover;
      }
      }

            /**LAPTOP */
            @media screen and (min-width:1000px) and (max-width:1399px) {
        #carouselTargetList {
        display: flex;
        overflow-x: hidden;
        gap: 20px;
        width:95%;
        margin: auto;
        margin-top: 10em;
        padding: 20px 0;
      }

      .list_holder {
          list-style-type: none;
      }



      .carousel-slide {
        flex: 0 0 auto;
        width: 300px;  /* Adjust to the size you want */
        height: auto;
      }

      .list_holder img {
        width: 250px;
        height: 360px;
        object-fit: cover;
      }
      }


 /**TABLET */
 @media screen and (min-width:401px) and (max-width:999px){
  #carouselTargetList {
        display: flex;
        overflow-x: hidden;
        gap: 20px;
        width:95%;
        margin: auto;
        margin-top: 9em;
        margin-bottom: 4em;
        padding: 20px 0;
      }

      .list_holder {
          list-style-type: none;
      }



      .carousel-slide {
        flex: 0 0 auto;
        width: 300px;  /* Adjust to the size you want */
        height: auto;
      }

      .list_holder img {
        width: 200px;
        height: auto;
        object-fit: cover;
      }
    }

        /**MOBILE */
        @media screen and (max-width:400px) {
          #carouselTargetList {
        display: flex;
        overflow-x: hidden;
        width:100%;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 3em;
        padding: 20px 0;
      }

      .list_holder {
          list-style-type: none;
      }

      .list_holder {
        flex: 0 0 auto;
        width: 100%;  /* Adjust to the size you want */
        height: auto;
      }

      .list_holder img {
        width: 100%;
        height: auto;
        margin: 0;
        object-fit: cover;
      }
    }

  </style>

<script>
window.addEventListener('load', () => {
  const carouselWrapper = document.querySelector('#carouselTargetList');
  const images = carouselWrapper.querySelectorAll('img');

  let scrollPosition = 0;
  const delay = 1500;  // Delay between scrolls in milliseconds (1.5 seconds)

  // Ensure we have at least one image to calculate width
  const imageWidth = images[0].offsetWidth ;  // Default to 220 if no images are found
  let isReachedTheEnd = false;
  
  
  setInterval(() => {

    /*Mobile SCROLL*/
    if(window.innerWidth > 400){
            // Check if we have reached the end of the carousel
    if (scrollPosition >= carouselWrapper.scrollWidth - carouselWrapper.clientWidth || isReachedTheEnd) {
      // Reset the scroll position and increase the miniStep for faster scrolling
      isReachedTheEnd = true;
      scrollPosition -= imageWidth + 20;
      if(scrollPosition < 100){
        scrollPosition = 0;
        isReachedTheEnd = false;
      }
    } else {
      // Scroll to the right
      scrollPosition += imageWidth + 20;  // Move right by image width + miniStep
    }
    }
    else{
        // Check if we have reached the end of the carousel
    if (scrollPosition >= carouselWrapper.scrollWidth - carouselWrapper.clientWidth || isReachedTheEnd) {
      // Reset the scroll position and increase the miniStep for faster scrolling
      isReachedTheEnd = true;
      scrollPosition -= imageWidth;
      console.log(scrollPosition);

      if(scrollPosition < 200){
        scrollPosition = 0;
        isReachedTheEnd = false;
      }
    } else {
      // Scroll to the right
      scrollPosition += imageWidth;  // Move right by image width + miniStep

    }
    }


    // Scroll with smooth behavior
    carouselWrapper.scrollTo({
      left: scrollPosition,
      behavior: 'smooth',
    });
  }, delay);
});

    
  </script>
  