<section>

    <img src="./DSC04504-2.jpg">
    <img src="./IMG_0087.jpg">
    <img src="./DSC01579.jpg">
    <img src="./DSC03206.jpg">
    <img src="./DSC08868.jpg">
    <img src="./DSC08775.jpg">
    <img src="./DSC00343.jpg">


</section>


<style>

    section{
        display: flex;
        margin: 2em 0;
        gap:40px;

    }
    
    img{
        width:386px;
        height: 613px;
        object-fit: cover;
    }

</style>