---
const images = [
  {
    class: "carousel-slide",
    src: "/preview/1.jpg",
    alt: "Image 1",
  },
  {
    class: "carousel-slide",
    src: "/preview/2.jpg",
    alt: "Image 2",
  },
  {
    class: "carousel-slide",
    src: "/preview/3.jpg",
    alt: "Image 3",
  },
  {
    class: "carousel-slide",
    src: "/preview/4.jpg",
    alt: "Image 4",
  },
  {
    class: "carousel-slide",
    src: "/preview/5.jpg",
    alt: "Image 5",
  },
  {
    class: "carousel-slide",
    src: "/preview/6.jpg",
    alt: "Image 6",
  },
  {
    class: "carousel-slide",
    src: "/preview/7.jpg",
    alt: "Image 7",
  }
];

---

<ul id="carouselTargetList">
  {
    images.map((img, index) => {
      return (
        <li class="list_holder">
            <a>
            <img src={img.src} alt={img.alt} class={img.class} loading="eager"/>
          </a>
        </li>
      );
    })
  }
</ul>

  <style>
      /**DESKTOP */
      @media screen and (min-width:1400px) {
        #carouselTargetList {
        display: flex;
        overflow-x: hidden;
        gap: 20px;
        width:95%;
        margin: auto;
        margin-top: 19em;
        padding: 20px 0;
      }

      .list_holder {
          list-style-type: none;
      }

      .carousel-slide {
        flex: 0 0 auto;
        width: 300px;  /* Adjust to the size you want */
        height: auto;
      }

      .carousel-slide img {
        width: 200px;
        height: auto;
        object-fit: cover;
      }
      }

            /**LAPTOP */
            @media screen and (min-width:1000px) and (max-width:1399px) {
        #carouselTargetList {
        display: flex;
        overflow-x: hidden;
        gap: 20px;
        width:95%;
        margin: auto;
        margin-top: 10em;
        padding: 20px 0;
      }

      .list_holder {
          list-style-type: none;
      }



      .carousel-slide {
        flex: 0 0 auto;
        width: 300px;  /* Adjust to the size you want */
        height: auto;
      }

      .list_holder img {
        width: 250px;
        height: 360px;
        object-fit: cover;
      }
      }


 /**TABLET */
 @media screen and (min-width:601px) and (max-width:999px){
  #carouselTargetList {
        display: flex;
        overflow-x: hidden;
        gap: 20px;
        width:95%;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 4em;
        padding: 20px 0;
      }

      .list_holder {
          list-style-type: none;
      }



      .carousel-slide {
        flex: 0 0 auto;
        width: 300px;  /* Adjust to the size you want */
        height: auto;
      }

      .list_holder img {
        width: 200px;
        height: auto;
        object-fit: cover;
      }
    }

        /**MOBILE */
        @media screen and (max-width:600px) {
          #carouselTargetList {
        display: flex;
        overflow-x: hidden;
        gap: 10px;
        width:99%;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 3em;
        padding: 20px 0;
      }

      .list_holder {
          list-style-type: none;
      }

      .list_holder {
        flex: 0 0 auto;
        width: 100%;  /* Adjust to the size you want */
        height: auto;
      }

      .list_holder img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

  </style>

<script>

window.addEventListener('load', () => {
  const carouselWrapper = document.querySelector('#carouselTargetList');
  
    let scrollPosition = 0;
    const scrollStep = window.innerWidth < 600 ? window.innerWidth + 30 : 220;  
    const delay = 1500;  // Delay in milliseconds (3 seconds)

    setInterval(() => {
      if (scrollPosition >= carouselWrapper.scrollWidth - carouselWrapper.clientWidth) {
        scrollPosition = 0;  // Reset position when we reach the end
      } else {
        scrollPosition += scrollStep;  // Move right by `scrollStep`
      }
      carouselWrapper.scrollTo({
        left: scrollPosition,
        behavior: 'smooth',  // Smooth scrolling effect
      });
    }, delay);
});
    
  </script>
  