<section>

    <img src="./DSC04504-2-min.jpg">
    <img src="./IMG_0087-min.jpg">
    <img src="./DSC01579-min.jpg">
    <img src="./DSC03206-min.jpg">
    <img src="./DSC08868-min.jpg">
    <img src="./DSC08775-min.jpg">
    <img src="./DSC00343-min.jpg">


</section>


<style>

    section{
        display: flex;
        margin: 2em 0;
        gap:40px;

    }
    
    img{
        width:386px;
        height: 613px;
        object-fit: cover;
    }

</style>