---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Vis Amari Photography" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<meta property="og:title" content="Vis Amari Photography" />
		<meta property="og:description" content="Creative artist specializing in powerful, emotive portraits." />
		<meta property="og:image" content="/logo.jpg" />
		<meta property="og:url" content="https://vis-amari-git-master-uladaharaninas-projects.vercel.app/" />
		<meta property="og:type" content="website" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Vis Amary Photography</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	*{
		margin: 0;
		padding: 0;
		border: 0;
	}
	html {
		scroll-behavior: smooth;
	}
	body{
		background-color: white;
		opacity: 0; /* Start invisible */
		transition: opacity 2s ease-in; /* Transition for smooth fade-in */
	}

	body.loaded {
    opacity: 1; /* Fully visible when loaded */
}

	main{
		background-color: white;
	}

</style>

<script>
	window.addEventListener('load', () => {
    document.body.classList.add('loaded');
});
</script>
